<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% comments.forEach(comment => { %>
      <li>
        <p><%= comment.text %></p>
      </li>
      <% }) %>
    </ul>
    <h2>Add New Comment</h2>
    <form action="/comments" method="POST">
      <textarea name="text" placeholder="Comment" required></textarea>
      <button type="submit">Add Comment</button>
    </form>
    <a href="/">Back to Home</a>
  </body>
</html>