<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% comments.forEach(comment => { %>
      <li>
        <a href="/comments/<%= comment.id %>"><%= comment.text %></a>
      </li>
      <% }) %>
    </ul>
    <div>
      <a href="/"><button>Home</button></a>
    </a>
    <a href="/comments/create">
      <button>Create a Comment</button>
    </a>
    </div>
  </body>
</html>