<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="home">
    <h1><%= title %></h1>
    <div class="container">
      <h2>Posts</h2>
      <div class="links">
        <a href="/posts">
          <button>View Posts</button>
        </a>
        <a href="/posts/create">
          <button>Add a Post</button>
        </a>
      </div>
  
    </div>

    <div class="container">
      <h2>Users</h2>
      <div class="links">
        <a href="/users/">
          <button>View Users</button>
        </a>
        <a href="/users/create">
          <button>Add a User</button>
        </a>
      </div>
    </div>

    <div class="container">
      <h2>Comments</h2>
      <div class="links">
        <a href="/comments/">
          <button>View Comments</button>
        </a>
        <a href="/comments/create">
          <button>Add a Comment</button>
        </a>
      </div>
    </div>
  </body>
</html>
