<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <h1><%= title %></h1>
  <div>
    <h2><%= user.name %></h2>
  </div>
  <a href="/users">Back to Users List</a>
  <a href="/">Back to Home</a>
</body>
</html>
