<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><strong>Author:</strong> <%= comment.author %></p>
    <p><strong>Content:</strong> <%= comment.content %></p>
    <a href="/comments">Back to Comments</a>
    <div>
      <a href="/"><button>Home</button></a>
      <a href="/"><button>Update</button></a>
      <a href="/"><button>Delete</button></a>
    </div>
  </body>
</html>
