<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>
    <div>
      <a href="/"><button>Home</button></a>
      <a href="/posts/create"><button>Create a Post</button></a>
    </div>
  </body>
</html>