<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/posts" method="GET">
      <input type="text" name="title" placeholder="Search by title" />
      <button type="submit">Search</button>
    </form>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>
    <div>
      <a href="/"><button>Home</button></a>
      <a href="/posts/create"><button>Create Post</button></a>
    </div>
  </body>
</html>