<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - SBA5</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
    <h1>SBA5 Blog</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/users/register">Register</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; SBA Blog</p>
  </footer>
</body>
</html>