<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user.id %>"><%= user.name %></a>
      </li>
      <% }) %>
    </ul>
    <div>
      <a href="/"><button>Home</button></a>
      <a href="/users/create"><button>Create a User</button></a>
    </div>
  </body>
</html>