* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body, html {
  height: 100%;
}

body {
  /* background: url("/img/sean-hwang.jpg") no-repeat center center;
  background-size: cover; */
  text-align: center;
}

h1, h2, h3 {
  color: azure;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}
